/** @format */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.form {
  direction: rtl;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em 0;
  margin: 0.5em auto 1.2em;
  border-radius: 8px;
  box-shadow: 5px 5px 5px var(--shadow-clr);
  background-color: var(--sec-clr);
}
.form .inputCon {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}
.form .side:nth-child(1) .inputCon:nth-child(1),
.form .side:nth-child(1) .inputCon:nth-child(2),
.form .side:nth-child(1) .inputCon:nth-child(3),
.form .side:nth-child(1) .inputCon:nth-child(4),
.form .side:nth-child(1) .inputCon:nth-child(5),
.form .side:nth-child(1) .inputCon:nth-child(6) {
  /* background-color: aqua; */
  width: 47%;
}

.form label {
  margin: 2px;
  padding: 0em 0.5em;
  font-size: small;
  cursor: pointer;
  background-color: var(--hover-clr);
  border-radius: 5px;
  color: black;
}
.form .side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.form input,
.form select {
  direction: rtl;
  text-indent: 10px;
  width: 100%;
  margin: 5px 0;
  /* font-size: 1rem; */
  text-indent: 5px;
  color: var(--font-clr);
  border: none;
  border-bottom: 2px solid var(--shadow-clr);
  background-color: var(--sec-clr);
}

.form select {
  width: 25%;
  /* margin: 5px 10px; */
  background-color: royalblue;
  color: #eee;
  border-radius: 5px;
  /* padding: 0; */
  border: none;
}
.form div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.form input[type="date"] {
  width: 25%;
  margin: 5px;
  background-color: royalblue;
  color: #eee;
  border-radius: 5px;
  border: none;
  /* font-size: small; */

}
.form .dateInput{
  width: 25%;
}
/* .form input[type="date"]::placeholder {

} */
.form input::placeholder {
  color: var(--font-clr);
  opacity: 0.5;
}

.form input:focus {
  outline: none;
  border-bottom-color: royalblue;
}
.form input[type="submit"] {
  margin: 15px auto;
  /* font-size: larger; */
  transition: all 300ms;
  border-radius: 5px;
  color: #eee;
  border: 2px solid royalblue;
  border-radius: 5px;
  background-image: linear-gradient(royalblue, royalblue);
  box-shadow: -0.5px 0.5px 5px var(--shadow-clr);
  transition: all 300ms;
  width: 95%;
  /* padding: 1px; */
}
.form input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form input[type="submit"]:hover {
  color: royalblue;
  background-image: linear-gradient(rgb(180, 189, 217), rgb(180, 189, 217));
}

@media (min-width: 570px) {
  .form {
    width: 90%;
    margin-top: 1em;
    border-radius: 8px;
  }
  .form .side {
    width: 48%;
  }
  .form input[type="submit"] {
    width: 30%;
  }
  .form input,
  .form select {
    padding: 10px;
  }
  .form input[type="date"] {
    width: 70%;
  }
}
