/** @format */
.fillter {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: none;
  min-width: 95%;
  margin: auto;
}
.fillter input {
  border: none;
  flex-direction: row;
  width: 100%;
  transition: all 300ms;
  direction: rtl;
  text-indent: 40px;
  font-size: medium;
  border-radius: 4px;
  padding: 10px;
}

.fillter button {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33px;
  height: 33px;
  margin: 0 2px;
  background-color: var(--theme-clr);
  color: #eee;
  border: none;
  border-radius: 50%;
  transition: all 250ms;
}
.fillter button:hover {
  transform: scale(1.1);
  background-color: #eee;
  color: var(--theme-clr);
}

.form {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid var(--shadow-clr);
  border-radius: 10px;
  padding: 5px;
}
.inputCon {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 2px 0px;
}

.form .side {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.form div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form .dateInput {
  width: 33%;
}

.form input::placeholder {
  color: var(--font-clr);
  opacity: 0.5;
}

.form input:focus {
  outline: none;
  border-bottom-color: var(--theme-clr);
}
.form input[type="submit"] {
  margin: 15px auto;
  transition: all 300ms;
  border-radius: 5px;
  color: #eee;
  border: 2px solid var(--theme-clr);
  border-radius: 5px;
  background-image: linear-gradient(var(--theme-clr), var(--theme-clr));
  box-shadow: -0.5px 0.5px 5px var(--shadow-clr);
  transition: all 300ms;
  width: 95%;
}
.form input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form input[type="submit"]:hover {
  color: var(--theme-clr);
  background-image: linear-gradient(rgb(180, 189, 217), rgb(180, 189, 217));
}

.checkBox {
  cursor: pointer;
  width: 25%;
  background-color: #eee;
  color: var(--theme-clr);
  border-radius: 5px;
  border: 2px solid var(--theme-clr);
  padding: 2px 7px;
  margin: 0 10px;
  cursor: pointer;
}
.checkBoxChecked {
  width: 25%;
  background-color: var(--theme-clr);
  color: #eee;
  border-radius: 5px;
  border: none;
  padding: 2px 7px;
  margin: 0 10px;
  cursor: pointer;
}
@media (min-width: 570px) {
  .form {
    width: 98%;
    border-radius: 8px;
  }
  .form .side {
    width: 33%;
  }
  .form input[type="submit"] {
    width: 30%;
  }

  .form input[type="date"] {
    width: 70%;
  }
}
