/** @format */

.table {
  min-width: 800px;
  margin: 0 auto;
  text-align: start;
  background-color: var(--sec-clr);
  scrollbar-width: thin;
}
.table thead {
  background-color: var(--theme-clr);
  color: #eee;
}
.table th {
  padding: 10px 5px;
  text-align: center;
}


/* @media (max-width: 600px) {
  .table {
    width: 100%;
    font-size: 3.1vw;
  }

  .diffDate {
    display: none;
  }
  .index {
    width: 6%;
  }
}
@media (max-width: 1200px) {
  .carType {
    display: none;
  }
} */
